# aarch64 QEMU virt machine essentials
CONFIG_ARM64=y
CONFIG_64BIT=y
CONFIG_MMU=y
CONFIG_ARCH_VEXPRESS=y
CONFIG_ARCH_VIRT=y
CONFIG_ARM_AMBA=y
CONFIG_ARM_GIC=y
CONFIG_ARM_GIC_V3=y
CONFIG_ARM_GIC_V3_ITS=y
CONFIG_ARM_PSCI=y
CONFIG_ARM_PSCI_FW=y
CONFIG_ARM_PMU=y
CONFIG_ARM_SBSA_PMU=y
CONFIG_ACPI=y
CONFIG_ACPI_GENERIC_GSI=y
CONFIG_ACPI_REDUCED_HARDWARE_ONLY=y
CONFIG_PCI=y
CONFIG_PCI_DOMAINS=y
CONFIG_PCI_DOMAINS_GENERIC=y
CONFIG_PCI_ECAM=y
CONFIG_PCIEPORTBUS=y
CONFIG_PCIEAER=y
CONFIG_PCIEASPM=n
CONFIG_PCIE_PME=n
CONFIG_HOTPLUG_PCI=n
CONFIG_HOTPLUG_PCI_ACPI=n

# VirtIO
CONFIG_VIRTIO=y
CONFIG_VIRTIO_MENU=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_PCI_LIB=y
CONFIG_VIRTIO_PCI_LIB_LEGACY=n
CONFIG_VIRTIO_BALLOON=n
CONFIG_VIRTIO_MEM=n
CONFIG_VIRTIO_MMIO=y
CONFIG_VIRTIO_MMIO_CMDLINE_DEVICES=y
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_NET=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_VIRTIO_INPUT=n
CONFIG_VIRTIO_PMEM=n
CONFIG_VIRTIO_FS=n
CONFIG_VIRTIO_GPU=n
CONFIG_VIRTIO_9P=n
CONFIG_HW_RANDOM_VIRTIO=y

# Serial / TTY
CONFIG_TTY=y
CONFIG_UNIX98_PTYS=y
CONFIG_LEGACY_PTYS=n
CONFIG_SERIAL_AMBA_PL011=y
CONFIG_SERIAL_AMBA_PL011_CONSOLE=y
CONFIG_SERIAL_8250=n

# Block
CONFIG_BLOCK=y
CONFIG_BLK_MQ_PCI=y
CONFIG_BLK_MQ_VIRTIO=y
CONFIG_BLK_DEV=y
CONFIG_BLK_DEV_LOOP=y
CONFIG_BLK_DEV_RAM=y
CONFIG_BLK_DEV_RAM_SIZE=4096
CONFIG_BLK_DEV_INITRD=y
CONFIG_INITRAMFS_SOURCE="/out/initramfs-proper.cpio.lz4"
CONFIG_INITRAMFS_ROOT_UID=0
CONFIG_INITRAMFS_ROOT_GID=0
CONFIG_INITRAMFS_COMPRESSION_LZ4=y
CONFIG_INITRAMFS_COMPRESSION_NONE=n
CONFIG_INITRAMFS_COMPRESSION_GZIP=n
CONFIG_INITRAMFS_COMPRESSION_BZIP2=n
CONFIG_INITRAMFS_COMPRESSION_LZMA=n
CONFIG_INITRAMFS_COMPRESSION_XZ=n
CONFIG_INITRAMFS_COMPRESSION_LZO=n
CONFIG_INITRAMFS_COMPRESSION_ZSTD=n

# Filesystems
CONFIG_EXT4_FS=y
CONFIG_EXT4_FS_POSIX_ACL=n
CONFIG_EXT4_FS_SECURITY=n
CONFIG_JBD2=y
CONFIG_FS_MBCACHE=y
CONFIG_FS_IOMAP=y
CONFIG_TMPFS=y
CONFIG_TMPFS_INODE64=y
CONFIG_PROC_FS=y
CONFIG_PROC_SYSCTL=y
CONFIG_SYSFS=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y

# Networking
CONFIG_NET=y
CONFIG_NETDEVICES=y
CONFIG_NET_CORE=y
CONFIG_INET=y
CONFIG_UNIX=y
CONFIG_PACKET=y
CONFIG_IPV6=n
CONFIG_E1000=y
CONFIG_E1000E=y
CONFIG_VIRTIO_NET=y
CONFIG_DUMMY=y
CONFIG_VETH=n
CONFIG_TUN=n
CONFIG_TAP=n
CONFIG_BRIDGE=n
CONFIG_NETFILTER=n
CONFIG_NETFILTER_ADVANCED=n
CONFIG_NET_SCHED=n
CONFIG_NET_CLS=n
CONFIG_NET_EMATCH=n
CONFIG_NET_CLS_ACT=n

# Kernel compression
CONFIG_KERNEL_LZ4=y
CONFIG_KERNEL_GZIP=n
CONFIG_KERNEL_ZSTD=n
CONFIG_KERNEL_XZ=n
CONFIG_KERNEL_LZMA=n
CONFIG_KERNEL_LZO=n
CONFIG_KERNEL_BZIP2=n
CONFIG_RD_LZ4=y
CONFIG_RD_GZIP=n
CONFIG_RD_ZSTD=n
CONFIG_RD_LZMA=n
CONFIG_RD_XZ=n
CONFIG_RD_LZO=n
CONFIG_RD_BZIP2=n

# Core kernel
CONFIG_SMP=y
CONFIG_NR_CPUS=2
CONFIG_PREEMPT=y
CONFIG_PREEMPT_DYNAMIC=y
CONFIG_PREEMPT_COUNT=y
CONFIG_PREEMPTION=y
CONFIG_NO_HZ_IDLE=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_GENERIC_CLOCKEVENTS=y
CONFIG_PRINTK=y
CONFIG_CONSOLE_TRANSLATIONS=y
CONFIG_MESSAGE_LOGLEVEL_DEFAULT=4
CONFIG_BINFMT_ELF=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_COREDUMP=n
CONFIG_SECCOMP=y
CONFIG_SECCOMP_FILTER=y
CONFIG_SYSVIPC=y
CONFIG_POSIX_MQUEUE=n
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_NAMESPACES=y
CONFIG_UTS_NS=y
CONFIG_IPC_NS=y
CONFIG_USER_NS=y
CONFIG_PID_NS=y
CONFIG_NET_NS=y
CONFIG_CGROUPS=y
CONFIG_CGROUP_SCHED=y
CONFIG_CGROUP_PIDS=y
CONFIG_CGROUP_FREEZER=y
CONFIG_CGROUP_DEVICE=y
CONFIG_CGROUP_CPUACCT=y
CONFIG_CGROUP_BPF=n
CONFIG_CGROUP_PERF=n
CONFIG_SOCK_CGROUP_DATA=y
CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y
CONFIG_MODULE_SIG=n
CONFIG_KALLSYMS=n
CONFIG_KALLSYMS_BASE_RELATIVE=n
CONFIG_KALLSYMS_SELFTEST=n

# Disable things we don't need on virt
CONFIG_DRM=n
CONFIG_SOUND=n
CONFIG_SND=n
CONFIG_USB=n
CONFIG_USB_SUPPORT=n
CONFIG_USB_COMMON=n
CONFIG_USB_ARCH_HAS_HCD=n
CONFIG_USB_PCI=n
CONFIG_USB_XHCI_HCD=n
CONFIG_USB_EHCI_HCD=n
CONFIG_USB_UHCI_HCD=n
CONFIG_HID_SUPPORT=n
CONFIG_HID=n
CONFIG_WATCHDOG=n
CONFIG_WATCHDOG_CORE=n
CONFIG_SOFT_WATCHDOG=n
CONFIG_THERMAL=n
CONFIG_HUGETLBFS=n
CONFIG_HUGETLB_PAGE=n
CONFIG_TRANSPARENT_HUGEPAGE=n
CONFIG_SWAP=n
CONFIG_KSM=n
CONFIG_FTRACE=n
CONFIG_TRACING=n
CONFIG_KPROBES=n
CONFIG_UPROBES=n
CONFIG_BPF=n
CONFIG_BPF_SYSCALL=n
CONFIG_BPF_JIT=n
CONFIG_PERF_EVENTS=n
CONFIG_HAVE_PERF_EVENTS=n
CONFIG_DEBUG_KERNEL=n
CONFIG_DEBUG_MISC=n
CONFIG_DEBUG_FS=n
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_DEBUG_LIST=n
CONFIG_DEBUG_SG=n
CONFIG_DEBUG_NOTIFIERS=n
CONFIG_DEBUG_CREDENTIALS=n
CONFIG_DEBUG_ATOMIC_SLEEP=n
CONFIG_SLUB_DEBUG=n
CONFIG_MAGIC_SYSRQ=n
CONFIG_PRINTK_TIME=n
CONFIG_DYNAMIC_DEBUG=n
CONFIG_DYNAMIC_DEBUG_CORE=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
