# Strip kernel size: remove unnecessary drivers and features
# This runs after virt.config so virt drivers stay enabled
CONFIG_WLAN=n
CONFIG_WIRELESS=n
CONFIG_SOUND=n
CONFIG_HID=n
CONFIG_USB_SUPPORT=n
CONFIG_DRM=n
CONFIG_VGA_ARB=n
CONFIG_FB=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_INPUT_MOUSE=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_INPUT_TABLET=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_INPUT_MISC=n
CONFIG_SERIO=y
CONFIG_SERIO_I8042=n
CONFIG_SERIO_SERPORT=n
CONFIG_SERIO_LIBPS2=n
CONFIG_NFC=n
CONFIG_BT=n
CONFIG_RFKILL=n
CONFIG_MAC80211=n
CONFIG_SECURITY_SELINUX=n
CONFIG_SECURITY_SMACK=n
CONFIG_SECURITY_APPARMOR=n
CONFIG_SECURITY_TOMOYO=n
CONFIG_SECURITY_YAMA=n
CONFIG_SECURITY_SAFESETID=n
CONFIG_SECURITY_LANDLOCK=n
CONFIG_INTEGRITY=n
CONFIG_CRYPTO_HW=n
CONFIG_NETFILTER=n
CONFIG_IPV6=n
CONFIG_IP_SCTP=n
CONFIG_IP_DCCP=n
CONFIG_FUSE_FS=n
CONFIG_CIFS=n
CONFIG_NFS_FS=n
CONFIG_SMBFS=n
CONFIG_XFS_FS=n
CONFIG_BTRFS_FS=n
CONFIG_F2FS_FS=n
CONFIG_REISERFS_FS=n
CONFIG_JFS_FS=n
CONFIG_GFS2_FS=n
CONFIG_OCFS2_FS=n
CONFIG_DEBUG_INFO=n
CONFIG_PAGE_EXTENSION=n
CONFIG_NUMA=n
CONFIG_HUGETLBFS=n
CONFIG_PCI_MSI=n
CONFIG_PCIEASPM=n
CONFIG_PCI_ATS=n
CONFIG_PCI_IOV=n
CONFIG_PCI_PRI=n
CONFIG_PCI_PASID=n
CONFIG_HOTPLUG_PCI_ACPI=n
CONFIG_SATA_MOBILE_LPM=n
CONFIG_ATA_VERBOSE_ERROR=n
CONFIG_ATA_ACPI=n
CONFIG_KALLSYMS=n
